{{!-- what goes inside partial file is not a complete html file --}}
{{!-- it is just part of a web page --}}
<header>
<h1>{{title}}</h1>
<div>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>
</header>
